jupyter
jupyterlab
opt-einsum
optax
orbax-checkpoint
packaging
pandas
parso
pexpect
pillow
platformdirs
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
Pygments
pyparsing
python-dateutil
pytorch-lightning
pytz
PyYAML
pyzmq
rich
scipy
six
stack-data
sympy
tensorflow
tensorboardX
tensorstore
toolz
torch
torchaudio
torchmetrics
torchvision
tornado
tqdm
traitlets
matplotlib
numpy
typing_extensions
tzdata
wcwidth
wheel
yarl
zipp
jax
flax

